main{
    width: 80%;
    height: 70%;
}
.titulo{
    font-size: 2.5rem;
}
.main-selector{
    font-size: 1.6rem;
    padding: 10px;
}
.main-selector select{
    font-size: 1.4rem;
}
.main-input{
    font-size: 1.6rem;
    padding: 10px;
}
.main-input input{
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.main-resultado{
    font-size: 2rem;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.main-resultado h3{
    padding: 5px;
}